.user-crud-container {
    max-width: 1200px;
  }
  
  .btn-crud-add {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: -0.015em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
  }
  
  .user-search-container {
    width: 750px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    letter-spacing: -0.015em;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }

  .base-card {
    background-color: #FFF;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
    border-radius: 10px;
  }

  .input-container {
    display: flex;
    
  }

  .user-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  
  .user-list-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }
  .user-buttons-container {
    padding: 0 10px;
    margin-bottom: 15px;
  }
  .user-button{

  }

  .user-button-first {
    margin-right: 10px;
  }