.user-crud-form {
    padding: 20px;
    border: 2px blue;
    max-width: 768px;
  }
.card-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 20px;
    padding: 10px;
  }
  
.margin-bottom-30 {
    margin-bottom: 30px;
  }
  
.user-crud-container {
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  
.user-crud-inputs-left-container {
    margin-bottom: 30px;
  }
  
.btn-form {
    display: flex;
    justify-content: space-around;
  }
  
.user-crud-button {
    height: 50px;
    width: 270px;
    border-radius: 10px;
    font-weight: bold;
}
