.login-card {
    
    background: #6c6c6c;
    padding: 10px;
    font-size: 16px;
    height: 573px;
    left: 10px;
    top: 85px;
    width: 480px;
    margin: 37px 0 17px 20px;
  }
  
  .login-card h1 {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .login-submit {
    margin-top: 50px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    border-radius: 4px;
    height: 50px;
    margin-left: 25px;
    width: 385px;
  }
  .base-input {
    bottom: 50.97%;
    background: #fefefe;
    border: 1px solid #fefefe;
    box-sizing: border-box;
    margin-left: 20px;
    height: 45px;
    width: 395px;
    left: 63px;
    top: 191px;
    border-radius: nullpx;
  }
  