.login-card {
    background: #6c6c6c;
    margin: 17px 12px 17px 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 573px;
    left: 10px;
    top: 85px;
  }
  
  .login-card h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .login-submit {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    width: 90%;
    border-radius: 4px;
    height: 50px;
  }
  .base-input {
    bottom: 50.97%;
    background: #fefefe;
    border: 1px solid #fefefe;
    box-sizing: border-box;
    height: 47px;
    width: 265px;
    left: 37px;
    top: 231px;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  @media (min-width: 576px) {
    .login-card {
      width: 480px;
      margin: 37px 0 17px 20px;
    }
  
    .login-submit {
      margin-left: 25px;
      width: 385px;
  
    }
    .base-input {
      margin-left: 20px;
      height: 45px;
      width: 395px;
      left: 63px;
      top: 191px;
      border-radius: nullpx;
      
    }
  }
  
  @media (min-width: 768px) {
    .login-card {
      margin: 37px 0 17px 120px;
    }
  }