:root {
  --bs-blue: #407bff;
  --bs-primary: #407bff;
  --bs-gray: #9E9E9E;
  --bs-secondary: #9E9E9E;
  --bs-red: #DF5753;
  --bs-danger: #DF5753;
}

$body-bg: #fff;
// $body-color: #263238;

@import '~bootstrap/scss/bootstrap.scss';
